{% load static %} <!--generates absolute url of static files!-->

{% if auctions %}
    <ul>
    {% for auction in auctions %}
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> !-->
             <li><a href="{% url 'auction_detail' auction.id %}">{{ auction.domain }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No auctions are available.</p>
{% endif %}