{% load static %} <!--generates absolute url of static files!-->

{% if domains %}
    <ul>
    {% for domain in domains %}
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> !-->
             <li><a href="{% url 'domain_detail' domain.name %}">{{ domain.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No domains are available.</p>
{% endif %}