{% load static %} <!--generates absolute url of static files!-->
<h1>Domain info homepage</h1>

<h2>Sold Domains</h2>
    {% if sold %}
        <ul>
        {% for domain_min in sold %}
            <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> !-->
                <li><a href="{% url 'domain_detail' domain_min.name %}">{{ domain_min.name  }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No domains have been sold.</p>
    {% endif %}


    <br>
    {% if auctions %}
        <h2>Active Auctions</h2>
        <ul>
        {% for domain_min in auctions %}
            <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> !-->
                <li><a href="{% url 'domain_detail' domain_min.name %}">{{ domain_min.name }} {{ domain_min.for_sale }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No auctions are available.</p>
    {% endif %}

    {% if dropping %}
        <h2>Upcoming/Dropping Domains</h2>
        <ul>
        {% for domain_min in dropping %}
            <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> !-->
                <li><a href="{% url 'domain_detail' domain_min.name %}">{{ domain_min.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No upcoming (dropping) domains are available.</p>
    {% endif %}