{% load static %} <!--generates absolute url of static files!-->

{% if domain %}
    <ul>
        {% if domain.for_sale %}
            <li>{{ domain.name }}</li>
        {% else %}
            <li>Sorry, this domain is currently not for sale</li>
        {% endif %}
    </ul>
{% else %}
    <p>Could not find domain.</p>
{% endif %}